.day {
    background-color: #f0f0f0;
    color: #333;
}

.night {
    background-color: #222;
    color: #f0f0f0;
}

.button_night {
    background-color: #555;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button_day{
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

html, body {
    margin: 0px;
    height: 100%;
}

#app {
    height: 100%;
    padding: 20px;
}

p {
    font-size: 18px;
    line-height: 1.6;
}
